@font-face {
  font-family: "Din";
  src: url(DINPro.otf.otf) format("truetype");
}

@font-face {
  font-family: "DinG";
  src: url(DINPro.otf.otf) format("truetype");
}

html{
	font-family: "Din";
	margin: 0px;
	padding: 0px;
}

nav > ul{
	margin: 0px;
	padding: 0px;
}

nav > ul > li {
	float: left;
	position: relative;
}

nav li{
	list-style-type: none;
}

.submenu{
	display: none;
}

nav{
	width: 100%;
}

nav > ul::after{
	content: "";
	display: block;
	clear: both;
}

nav a{
	color: rgb(51, 102, 153);
	display: inline-block;
	text-decoration: none;
}

nav a:hover{
	color:white;
}

nav > ul > li > a{
	padding: 10px 20px;
}

li:hover a{
	color:white;
}

nav li:hover .submenu{
	display: inline-block;
	margin-top: 1px;
	position: absolute;
	top: 100%
	left: 0px;
	transition-delay: 1s;
	padding: 0px;
	z-index: 10000;
}

.submenu li{
	border-bottom: 1px solid #CCC;
	border-radius: 10px 10px 10px;
}

.submenu li a{
	padding: 15px 30px;
	font-size: 0.5em;
	color:white;
	width: 270px;
}

.s1{
	background: rgb(0, 179, 0);
	border-radius: 10px 10px 10px;
}

.s2{ 
	background: rgb(255, 214, 51);
	border-radius: 10px 10px 10px;
 }

 .s3{
 	background: rgb(51, 102, 153);
 	border-radius: 10px 10px 10px;
 }

 .s4{
 	background: black;
 	border-radius: 10px 10px 10px;
 }

.logo{
	margin: 0; padding: 0;
}

.work:hover{
	border-radius: 10px 10px 10px;
	background-color: rgb(0, 179, 0);
}

.live:hover{
	color: white;
	border-radius: 10px 10px 10px;
	background-color: rgb(255, 214, 51);
}

.shop:hover{
	border-radius: 10px 10px 10px;
	background-color: rgb(51, 102, 153);
}

.espaceclient:hover{
	border-radius: 10px 10px 10px;
	background-color: rgb(102, 102, 153);
}

.fr:hover{
	border-radius: 10px 10px 10px;
	background-color: black;
}

.m-link{
	color: rgb(51, 102, 153);
	font-family: "Din";
	font-weight: bold;
	font-size: 2.5em;
	padding: 0; margin: 0 30px;
}



