Header :
Décaler les sous parties
integrer partout
:hover sur les sous parties
et centrer le tout avec un cardre blanc
index :
barre de recherche (aryé)
image clicquable résponsiv
<hr> double entre la av derniere et la derniere partie
voir pour les bloc locations (david/mélanie)
w_concept : 
manque une image banière
voir pour agencement texte + photos guillemets
all_espaces :
modifier certaines photos et certains lieux
we_ :
changer la forme de tout

           <h2 class="aligner titre" >L'offre Woolink</h2>
           <hr id="hr">
           <h5 class="aligner bleu">A chaque bien son univers :</h5>
            </br>
           <p >Nos  biens sont  design  et  fonctionnels, chacun  repensé de  manière différentes afin  que tous
              nos clients puissent  s’intégrer  au  mieux.  </p>
            </br>
           <h5 class="aligner bleu">Caractéristiques  des biens : </h5>
           </br>
         <ul>
           <li>Chambres privatives ou à partager.</li>
           <li>Des parties communes constituées d’une
               salle de bain, d’une cuisine et d’une
               pièce à vivre où peuvent se réunir tous les
               « colivers » ou pour recevoir des amis.</li>
           <li>Un agencement qui permet à chacun de
                 disposer de son intimité.</li>
           <li>Des logements équipés et meublés
               permettant de faciliter l’emménagement des
               colocataires.</li>
         </ul>
        </br>

         <h5 class="aligner bleu">Chaque  chambre comprend:</h5>
          </br>
          <ul style="margin-left:155px;">
            <div class="col-xs-8 col-md-4 txt-block">
            <li>Un grand  lit double </li>
            </div>
            <div class="col-xs-8 col-md-4 txt-block">
            <li>Un dressing</li>
            </div>
            <div class="col-xs-8 col-md-4 txt-block">
            <li>Un coin bureau </li>