.mCalandarMain{
  width:220px;
  height:204px;
  padding-top:3px;
  background-color: #3c8dbc;
  font-family:Arial;
  font-size:11px;
  font-weight:bold;
  color:#333333;
  position:absolute;
}

.mCalandarMain .mCalandarheader{
  margin-left:3px;
  margin-right:3px;
  padding:3px;
  width:206px;
  height:23px;
  line-height:21px;
  background-color: #3c8dbc;
  border-color: black;
  border-width: medium;
  position:relative;
  color:#ffffff;
  z-index:1000;
}

.mCalandarMain .mCalandarheader .mInfo{
  position:absolute;
  left:26px;
  right:26px;
  top:4px;
  margin:0px;
  padding:0px;
  text-align:center
}

.mCalandarMain .mCalandarheader .mInfo li{
  margin:1px;
  list-style:none;
  text-align:center;
  font-size:11px;
  font-weight:bold;
  position:relative;
  z-index:100;
  display:inline
}

.mCalandarMain .mCalandarheader .mInfo li .liMois{

}

.mCalandarMain .mCalandarheader .mInfo li:hover ul,
.mCalandarMain .mCalandarheader .mInfo li:hover div,
.mCalandarMain .mCalandarheader .mInfo a:hover ul{
  display:block;
}

.mCalandarMain .mCalandarheader .mInfo li:hover div ul{
  margin:0px;
  padding:0px;
  width:82px;
  height:172px;
  position:absolute;
  top:0px;
  left:0px;
}

.mCalandarMain .mCalandarheader .mInfo .mois{
  position:absolute;
  z-index:1000;
  display:none;
  top:14px;
  left:0px;
  cursor:pointer;
  width:82px;
  height:172px;
  background:url(images/bgListe.png) no-repeat;
  margin:0px;
  padding:0px;
}
.mCalandarMain .mCalandarheader .mInfo .annee{
  position:absolute;
  z-index:1000;
  display:none;
  top:14px;
  left:0px;
  cursor:pointer;
  width:82px;
  height:172px;
  background:url(images/bgListe.png) no-repeat;
  overflow:hidden;
}
.mCalandarMain .mCalandarheader .mInfo .mois li, .mCalandarMain .mCalandarheader .mInfo .annee ul li{
  clear:both;
  line-height:12px;
  height:12px;
  width:78px;
  margin-left:2px;
  text-align:center;
  display:block
}

.mCalandarMain .mCalandarheader .mInfo .mois li:hover, .mCalandarMain .mCalandarheader .mInfo .annee ul li:hover{
  background-color:#333;
}


.mCalandarMain .mCalandarheader .mInfo .annee li .upAnnee{
  background:url(images/up.png);
  display:block;
  height:11px;
  width:23px;
  margin-left:auto;
  margin-right:auto;
}

.mCalandarMain .mCalandarheader .mInfo .annee li .downAnnee{
  background:url(images/down.png);
  display:block;
  height:11px;
  width:23px;
  margin-left:auto;
  margin-right:auto;
}

.mCalandarMain .mCalandarheader .bef{
  background:url(images/mBef.png);
  width:22px;
  height:22px;
  display:block;
  float:left;
}

.mCalandarMain .mCalandarheader .next{
  background:url(images/mNext.png);
  width:22px;
  height:22px;
  display:block;
  float:right;
}

.mCalandarMain .corpDiv{
  width:210px;
  height:206px;
  margin:4px;
  position:relative;
  overflow:hidden;
  display:block;
  z-index:100;
}
.mCalandarMain .corpDiv .listeJoursUl{
  margin:0px;
  padding:0px;
  display:block;
  width:210px;
  overflow:hidden;

}

.mCalandarMain .corpDiv .listeJoursUl li{
  float:left;
  list-style:none;
  width:30px;
  height:21px;
  line-height:21px;
  margin-bottom:2px;
  background:url(images/bgDateI.png);
  text-align:center;
}

.mCalandarMain .corpDiv .corpUl{
  margin:0px;
  padding:0px;
  width:210px;
  height:206px;
  position:absolute;
  top : 23px;
  left:0px;

}
.mCalandarMain .corpDiv .corpUl li{
  float:left;
  list-style:none;
  width:30px;
  height:21px;
  line-height:21px;
  margin-bottom:2px;
  background:url(images/bgDateI.png);
  text-align:center;
  cursor:pointer;
}

.mCalandarMain .corpDiv .corpUl .mOver{
  background:url(images/bgDateG.png);
}

.mCalandarMain .corpDiv .corpUl .dateI{
  background:url(images/bgDate.png);
}

.mCalandarMain .corpDiv .corpUl .dateC{
  background:url(images/bgDateB.png);
  color:#FFFFFF;
}


.mCalandarMain iframe{
  position:absolute;
  top:0px;
  left:0px;
  z-index:0;
  width:100%;
  height:100%;
  border:0px;
  display:none;
}

.clear{
  display:block;
  width:100%;
  height:1px;
  border:1px solid yellow;
  clear:both;
}
